<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Images of People with Salary Less Than $99,000</h1>
    {% for image in images_info %}
    <div>
        {% if image.exists %}
            <img src="{{ image.path | safe }}" alt="Employee Image">
        {% else %}
            <!-- <p class="error">{{ image.path }}</p> -->
        {% endif %}
    </div>
    {% endfor %}
</body>
</html>
