<!-- header.html -->
<header>
    <div class="container">
        <table class="highlight">
            <thead>
                <tr>
                    <th>Select your options</th>
                </tr>
            </thead>
            <tbody>
                <tr><td><a href="/upload_csv">Home</a></td></tr>
                <tr><td><a href="/search_user">Search user for image</a></td></tr>
                <tr><td><a href="/data">Show upload CSV file data</a></td></tr>
                <tr><td><a href="/display_low_salary_images">Display all pictures where the salary is less than 99000</a></td></tr>
                <tr><td><a href="/add_picture">Add picture for user</a></td></tr>
                <tr><td><a href="/remove_entry">Remove user Entry</a></td></tr>
                <tr><td><a href="/update_entry">Update user details</a></td></tr>
            </tbody>
        </table>
    </div>
    
</header>

