


{% extends 'layout.html' %}

{% block title %}My Flask App{% endblock %}

{% block content %}
    {% include 'header.html' %}
    <div>
    <h3>Data from CSV</h3>
    <table class="highlight responsive-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Salary</th>
                <th>Grade</th>
                <th>Room</th>
                <th>Telnum</th>
                <th>Picture</th>
                <th>Keywords</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>

{% endblock %}